:root {
    font-size: 1rem;

    --bg-color-muted: hsl(0, 6%, 96%);
    --bg-color-element: hsl(0, 6%, 98%);
    --bg-color-highlight: hsl(0, 6%, 100%);

    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 15%);
    --text-warning: var(--primary-hover);

    --primary: hsl(9, 100%, 64%);
    --primary-hover: hsl(9, 100%, 55%);
    --primary-pressed: hsl(9, 100%, 60%);

    --secondary: hsl(9, 100%, 87%);
    --secondary-hover: hsl(9, 100%, 80%);
    --secondary-pressed: hsl(9, 100%, 84%);

    --accent: hsl(205, 77%, 56%);

    --dropdown-button-highlight: hsl(0, 6%, 90%);
    --dropdown-button-pressed: hsl(0, 6%, 95%);

    --sidebar-width: 15rem;
    --main-width: calc(90vw - 10rem);

    --padding-element: .75rem;
    --padding-button: .5rem;
    --padding-row: .25rem;
    --padding-modal: 2rem;

    --border-width: .1rem;
    --border: solid hsl(0, 6%, 80%) var(--border-width);
    --border-radius: 1.5rem;

    --fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--fonts), sans-serif;
    background-color: var(--bg-color-muted);
    margin: 0;
    color: var(--text);
}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: var(--padding-element);
    height: calc(100% - 2*var(--padding-element) - 1*var(--border-width));
    top: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: var(--border);
    background-color: var(--bg-color-muted);
    font-size: 1rem;
    gap: .25rem;

    button {
        font-size: 1rem;
        border-radius: calc(var(--border-radius) - var(--padding-element));
        background-color: var(--bg-color-element);
        border: solid hsl(0, 6%, 92%) var(--border-width);
    }
    button:hover {
        background-color: var(--dropdown-button-highlight);
    }
    button:active {
        background-color: var(--dropdown-button-pressed);
    }
}
button,
.button {
    padding: var(--padding-button);
    border: var(--border);
    cursor: pointer;
    transition: background-color .1s ease, translate .1s ease, border .1s ease;
    background-color: var(--secondary);
    border-radius: calc(var(--border-radius) - var(--padding-button));
}
button:hover,
.button:hover {
    translate: 0 -2px;
    background-color: var(--secondary-hover);
}
button:active,
.button:active{
    translate: 0 1px;
    background-color: var(--secondary-pressed);
}

main {
    margin-left: calc(var(--sidebar-width) + 3 * var(--padding-element) + 2*var(--border-width));
    margin-right: calc(var(--padding-element) + var(--border-width));
}

.list {
    display: grid;
    grid-column-gap: .5rem;
    background-color: var(--bg-color-element);
    border: var(--border);
    padding: var(--padding-element);
    border-radius: var(--border-radius);

    .row {
        display: grid;
        grid-column: 1/final;
        grid-template-columns: subgrid;
        padding: var(--padding-row);
        align-items: center;
        border-radius: calc(var(--border-radius) - var(--padding-element));

        .button {
            border-radius: calc(var(--border-radius) - var(--padding-element));
            background-color: var(--bg-color-muted);
            cursor: pointer;
        }
        .name {
            align-self: center  ;
        }
    }

    .row:hover {
        background-color: var(--bg-color-highlight);
    }
}

.list:has(.row:hover) {
    background-color: var(--bg-color-muted);
}

messdiener-list,
church-list,
messdiener-prepared-list {
    grid-template-columns: 1fr auto;
}

family-adder {
    grid-template-columns: auto 1fr auto auto;
}
.modal.absence-edit family-adder,
.modal.absence-create family-adder {
    grid-template-columns: auto 1fr auto;

    .value.masses-allocation {
        display: none;
    }
}

.tag {
    padding: var(--padding-row);
    border: var(--border);
    border-radius: calc(var(--border-radius) - var(--padding-element));
    min-width: 1rem;
    text-align: center;
}

.modal:open {
    width: min(50rem, 80%);
    display: block;
    z-index: 1;
    background-color: var(--bg-color-muted);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding-modal);
}

.modal::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,.4);
}

.modal {
    h1 {
        margin: 0;
        font-size: 2rem;
    }
    .label {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        display: block;
    }
    .controls {
        display: flex;
        justify-content: flex-start;
        gap: .5rem;
    }
    button {
        border-radius: calc(var(--border-radius) - var(--padding-button));
        font-size: 1rem;
    }
    button.save {
        background-color: var(--primary);
    }
    button.cancel {
        background-color: var(--secondary);
    }
    button.delete {
        margin-left: auto;
    }
}

.modal:open.form {
    display: grid;
    gap: 1.5rem;
}

.button.centered {
    margin: 1rem auto;
}

.form:not(.modal) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-block-end: .5rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    input {
        width: calc(100% - 2*var(--border-width) - 2*var(--padding-button));
    }
}
.field.controls {
    flex-direction: row;
}

input,textarea {
    padding: var(--padding-button);
    background-color: var(--bg-color-element);
    font-size: 1rem;
    border-radius: calc(var(--border-radius) - var(--padding-button));
    border: var(--border);
    color: var(--text);
    font-family: var(--fonts), sans-serif;
}

select {
    padding: var(--padding-button);
    border: var(--border);
    background-color: var(--bg-color-element);
    border-radius: var(--border-radius);
    width: calc(100% - 2 * var(--border-width));
    font-size: 1rem;
    appearance: base-select;
}
select.multiple {
    height: fit-content;
    width: calc(100% - 2 * var(--border-width) - 1rem);

}
select::picker-icon {
    color: var(--text-muted);
    transition: .1s rotate, .1s translate;
    width: .25rem;
    translate: -.5rem 0;
}
select:open::picker-icon {
    rotate: 180deg;
    translate: -.25rem 0;
}
::picker(select) {
    appearance: base-select;
    padding: var(--padding-button);
    background-color: var(--bg-color-element);
    border: var(--border);
    border-radius: calc(var(--border-radius) - var(--padding-button));
    margin-block: .5rem;
    top: anchor(bottom);
    overflow: auto;
}

option {
    color: var(--text-muted);
}

option:checked {
    font-weight: 550;
    color: var(--text);
}

.create.button {
    background-color: var(--primary);
    border-radius: calc(var(--border-radius) - var(--padding-button));
    display: block;
    text-align: center;
    width: fit-content;
}

.create.button:hover {
    background-color: var(--primary-hover);
}
.create.button:active {
    background-color: var(--primary-pressed);
}

.placeholder {
    color: var(--text-muted);
    text-align: center;
    margin: 0;
}
.hidden {
    display: none;
}

mass-list,absences-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;

    .button.create {
        width: calc(100% - 2 * var(--padding-button) - 2 * var(--border-width));
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
    }

    .create.button:hover {
        background-color: var(--secondary-hover);
    }
    .create.button:active {
        background-color: var(--secondary-pressed);
    }

    .entry.hidden {
        display: none;
    }
}

mass-list .placeholder,
.mass.entry,
absences-list-element {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    background-color: var(--bg-color-element);
    border: var(--border);
    padding: var(--padding-element);
    border-radius: calc(var(--border-radius) - .25rem);
    font-size: 1rem;
    transition: translate .1s ease, background-color .1s ease;
    cursor: pointer;
    user-select: none;

    .date {
        font-weight: 550;
        text-align: center;
    }
    .section:not(.messdiener) {
        border-bottom: var(--border);
    }
    .section {
        padding: .25rem 0;
        min-height: 1.25rem;
    }
    .section.messdiener:not(:has(.messdiener)) {
        text-align: center;
        margin: auto;
    }
}

absences-list-element:hover,
.mass.entry:hover {
    background-color: var(--dropdown-button-pressed);
    translate: 0 -2px;
}

mass-list:has(.button.create) + .button.create {
    display: none;
}

messdiener-allocator {
    display: grid;
    gap: 1rem;
}


input.switch {
    --knob-size: 1rem;
    --knob-location: 0%;
    padding: var(--padding-row);
    width: calc(var(--knob-size) * 2 + var(--padding-row) * 2);
    appearance: none;
    flex-shrink: 0;
    display: grid;
    align-items: center;
    grid: [track] 1fr / [track] 1fr;
    cursor: pointer;
    user-select: none;
    transition: translate .1s ease, background-color .1s ease;
}
input.switch:checked {
    --knob-location: calc(100% - var(--padding-row));
    background-color: var(--secondary-pressed);
}

input.switch:hover {
    translate: 0 -2px;
}
input.switch:hover:checked {
    background-color: var(--secondary-hover);
}

input.switch::before {
    content: "";
    grid-area: track;
    width: var(--knob-size);
    height: var(--knob-size);

    background: var(--secondary);
    border-radius: 50%;
    transform: translateX(var(--knob-location));
    transition: transform .1s ease;
}
input.switch:hover::before {
    background-color: var(--secondary-hover);
}

input.switch:checked::before {
    background: var(--primary);
}
input.switch:hover:checked::before {
    background-color: var(--primary-hover);
}

textarea {
    resize: none;
}

details summary + .form {
    margin-top: .5rem;
}

details summary {
    font-weight: 550;
    user-select: none;
}

details {
    margin-bottom: 1rem;
}

label {
    transition:
            color .5s ease;
}

.field label:has(+ .has-issue) {
    color: var(--text-warning);
    font-weight: bolder;
}
